<ion-card (click)="onCardClick()">
  <ion-card-header>
    <ion-avatar>
      <img alt="Avatar image" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </ion-avatar>
    <ion-card-title class="title">
      {{user?.name}} {{user?.surname | firstLetter}}
    </ion-card-title>
    <ion-button class="fav-button" fill="clear" aria-label="Favorite" (click)="onFavClick($event)">
      <ion-icon *ngIf="user?.fav" slot="icon-only" color="danger" name="heart" aria-hidden="true"></ion-icon>
      <ion-icon *ngIf="!user?.fav" slot="icon-only" color="medium" name="heart-outline" aria-hidden="true"></ion-icon>
    </ion-button>  
  </ion-card-header>

  <ion-card-content>
    <ion-card-title>Name</ion-card-title>
    <ion-card-content>{{ user?.name }}</ion-card-content>
    <ion-card-title>Surname</ion-card-title>
    <ion-card-content>{{ user?.surname }}</ion-card-content>
    <ion-card-title>Age</ion-card-title>
    <ion-card-content>{{ user?.age }}</ion-card-content>
  </ion-card-content>
</ion-card>