// Tags
ion-card {
    width: 375px;
}

ion-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

// Class
.title {
    font-size: 24px;
    color: rgb(86, 23, 212);
    font-weight: bold;
}
