<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button fill="clear" aria-label="New User" (click)="onNewUser($event)">
    <ion-icon slot="icon-only"  color="primary" name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>
  <div class="cards">
    <app-user-info 
      appHighlight
      *ngFor="let user of (users.usersOfTheObservable$ | async) | favs:(favs.favs$ | async)" 
      [user]="user" 
      (onCardClicked)="onCardClicked()" 
      (onFavClicked)="onFavClicked(user, $event)"
      (onDeleteClicked)="onDeleteClicked(user)"
    >
    </app-user-info>
  </div>
  <div>
    <app-fav-info
      *ngFor = "let favourite of (favs.favs$ | async)"
      [id]="favourite?.userId"
      (deletedFav)="deleteFav(favourite)"
    >
    </app-fav-info>
  </div>
</ion-content>
